@page "/demoHotel"

<div class="border p-2 mt-2" style="background-color: azure">
    <h2 class="text-info">Room List [USING COMPONENT]</h2>
    <div class="row container">
        @foreach (BlazorRoom room in RoomsList)
        {
            <Room room="@room"></Room>
        }
    </div>
</div>

@code
{
    readonly List<BlazorRoom> RoomsList = new() 
    {
        new() {
            Id = 101,
            IsActive = true, 
            Price = 100, 
            RoomName = "Villa Suite One Bedroom",
            RoomProps = new List<BlazorRoomProp>
            {
                new() {Id = 1, Name = "Sq Ft", Value = "330"}, 
                new() {Id = 2, Name = "Occupancy", Value = "4"}
            }}, 
        new()
        {
            Id = 201, 
            IsActive = false, 
            Price = 70, 
            RoomName = "Villa Suite Two Bedroom", 
            RoomProps = new List<BlazorRoomProp>
            {
                new() {Id = 1, Name = "Sq Ft", Value = "1150"}, 
                new() {Id = 2, Name = "Occupancy", Value = "6"}
            }
        }};
}
