@page "/demoHotel"

<div class="border p-2 mt-2" style="background-color: azure">
    <h2 class="text-info">Room List [USING COMPONENT]</h2>
    <div class="row container">
        <div class="col-12">
            <h4 class="text-info">Hotel Rooms</h4>
            <span>Rooms Selected - @SelectedRooms</span>
        </div>
        @foreach (BlazorRoom room in thisHotel.Rooms)
        {
            <Room room="@room" OnRoomCheckBoxSelection="RoomSelectionCounterChanged"></Room>
        }
    </div>
    <h2 class="text-info">Hotel Amenities [ASSIGNMENT]</h2>
    <div class="row container">
        @foreach (BlazorAmenity am in thisHotel.Amenities)
        {
            <Amenity BAmenity="@am" OnSelection="AmenitySelectionChanged"></Amenity>
        }
        @if (!string.IsNullOrEmpty(SelectedAmenity))
        {
            <div class="col-12">
                <p class="text-secondary">Selected Amenity: @SelectedAmenity</p>
            </div>
        }
    </div>
</div>

@code
{
    public int SelectedRooms { get; set; } = 0;
    public string SelectedAmenity { get; set; }

    readonly Hotel thisHotel = new()
    {
        Rooms = new List<BlazorRoom>
        {
            new()
            {
                Id = 101, 
                IsActive = true, 
                Price = 100, 
                RoomName = "Villa Suite One Bedroom", 
                RoomProps = new List<BlazorRoomProp>
                {
                    new() {Id = 1, Name = "Sq Ft", Value = "330"}, 
                    new() {Id = 2, Name = "Occupancy", Value = "4"}
                }
            }, 
            new()
            {
                Id = 201, 
                IsActive = false, 
                Price = 70, 
                RoomName = "Villa Suite Two Bedroom",
                RoomProps = new List<BlazorRoomProp>
                {
                    new() {Id = 1, Name = "Sq Ft", Value = "1150"}, 
                    new() {Id = 2, Name = "Occupancy", Value = "6"}
                }
            }
        }, 
        Amenities = new List<BlazorAmenity>
        {
            new() {Id = 111, Name = "Gym", Description = "24x7 gym room available."}, 
            new() {Id = 222, Name = "Pool", Description = "Pool is open from 6 am to 10 pm."}, 
            new() {Id = 111, Name = "Breakfast", Description = "Enjoy free breakfast at our hotel."}
        }
    };

    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }

    protected void AmenitySelectionChanged(string selectedAmenity)
    {
        SelectedAmenity = selectedAmenity;
    }
}