@page "/ParentComponent"

<h3 class="text-danger">Parent Child Component</h3>

<ChildComponent Title="This is passed from Parent Component." OnClick="ShowMessage" 
                MessageForGrandchild="This is a message from grandparent.">
    <ChildContent>
        Render Fragment from Parent! WhoHoo!
        <br/>
        <i>More information to be added.</i>
    </ChildContent>
    <SecondChildContent>
        Second child component.
    </SecondChildContent>
</ChildComponent>

<p>
    <b>@messageText</b>
</p>

<AnotherChildComponent placeholder="Placeholder default"></AnotherChildComponent>

@code {
    private string messageText = "";

    private void ShowMessage(MouseEventArgs args)
    {
        messageText = "Blazing text from parent.";
    }
}