@page "/ParentComponent"

<h3 class="text-danger">Parent Child Component</h3>

<CascadingValue Value="@messageForGrandchild" name="MessageFromGrandParent">
    <CascadingValue Value="@LuckyNumber" name="GrandParentsLuckyNumber">
        <ChildComponent 
            @ref="childComp"
            Title="This is passed from Parent Component."
            OnClick="ShowMessage">
            <ChildContent>
                Render Fragment from Parent! WhoHoo!
                <br/>
                <i>More information to be added.</i>
            </ChildContent>
            <SecondChildContent>
                Second child component.
            </SecondChildContent>
        </ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>
    <b>@messageText</b>
</p>

<div class="row">
    <button class="btn btn-success" @onclick="()=>childComp.ShowToasterSuccess()">Show Alert</button>
</div>
<AnotherChildComponent placeholder="Placeholder default"></AnotherChildComponent>

@code {
    // Cascading parameter is based on type.
    private string messageForGrandchild = "This is a message from grandparent";
    public string LuckyNumber { get; set; } = "7";
    private string messageText = "";
    private ChildComponent childComp;

    private void ShowMessage(MouseEventArgs args)
    {
        messageText = "Blazing text from parent.";
    }
}