@page "/"
@using HiddenVilla_Server.Model

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@
<h2 class="bg-light border p-2">
    First Room
</h2>
Room: @room.RoomName
<br/>
Price: @room.Price
<br/>

<input type="number" @bind-value="@room.Price" @bind-value:event="oninput"/>

@code
{
    readonly BlazorRoom room = new() {Id = 1, IsActive = true, Price = 499, RoomName = "Villa Suite"};
}