<div>
    <h4 class="text-primary pt-3">Another Child Component</h4>
    @*Left placement has priority*@
    <input id="roomName" @attributes="InputAttributes" placeholder="Initial Text" class="form-control"/>
    <input id="roomName2" placeholder="Initial Text" @attributes="InputAttributes" class="form-control"/>
</div>

@code {
    // Inefficient way of handling this.
    //[Parameter]
    //public string Placeholder { get; set; }

    //[Parameter]
    //public string Required { get; set; } = "required";

    //[Parameter]
    //public string MaxLength { get; set; } = "10";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new();

}