<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (ChildContent == null)
        {
            <span>Hello from empty render fragment.</span>
        }
        else
        {
            <span>@ChildContent</span>
        }
    </div>
    <button class="button btn-danger" @onclick="OnClick">Button to click.</button>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

}